@use "../../../styles/cv-variables" as vars;
@use "../../../styles/cv-left-mixins" as mix;

.container {
  @include mix.section-container;
}
.sectionTitle {
  @include mix.section-title;
}

.langItem {
  display: flex;
  flex-direction: column;
  margin-bottom: vars.$cv-spacing-sm;
}

.langName {
  font-size: vars.$cv-font-base;
  font-weight: 600;
  color: vars.$cv-color-text-inverse;
  margin-bottom: 1px;
}

.langLevel {
  font-size: vars.$cv-font-md;
  color: rgba(255, 255, 255, 0.8);
  line-height: vars.$cv-lh-compact;
}
