@use "../../../styles/cv-variables" as vars;
@use "../../../styles/cv-left-mixins" as mix;

.container {
  @include mix.section-container;
}
.sectionTitle {
  @include mix.section-title;
}

.linkItem {
  display: flex;
  flex-direction: column;
  margin-bottom: vars.$cv-spacing-sm;
}

.linkLabel {
  font-size: vars.$cv-font-sm;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 1px;
}

.linkUrl {
  font-size: vars.$cv-font-base;
  color: vars.$cv-color-text-inverse;
  text-decoration: none;
  word-break: break-all;
  &:hover {
    opacity: 0.75;
    text-decoration: underline;
  }
}
