@use "../../../styles/cv-variables" as vars;

.container {
  width: 80px;
  height: 80px;
  margin: 0 auto vars.$cv-spacing-xl;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid rgba(255, 255, 255, 0.3);
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
