@use "../../../styles/cv-variables" as vars;
@use "../../../styles/cv-left-mixins" as mix;

.container {
  @include mix.section-container;
}
.sectionTitle {
  @include mix.section-title;
}

.category {
  margin-bottom: vars.$cv-spacing-md;
  &:last-child {
    margin-bottom: 0;
  }
}

.categoryTitle {
  font-size: vars.$cv-font-base;
  font-weight: 700;
  color: vars.$cv-color-text-inverse;
  margin: 0 0 vars.$cv-spacing-xs 0;
}

.itemsList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  font-size: vars.$cv-font-md;
  color: rgba(255, 255, 255, 0.85);
  line-height: vars.$cv-lh-compact;
}
