@use "../../../styles/cv-variables" as vars;

.container {
  margin-bottom: vars.$cv-spacing-lg;
}

.sectionTitle {
  font-size: vars.$cv-font-section;
  font-weight: 700;
  color: vars.$cv-color-primary;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  margin: 0 0 vars.$cv-spacing-sm 0;
  padding-bottom: vars.$cv-spacing-xs;
  border-bottom: 2px solid vars.$cv-color-primary;
}

.text {
  font-size: vars.$cv-font-base;
  line-height: vars.$cv-lh-base;
  color: vars.$cv-color-text;
  text-align: justify;
  margin: 0 0 vars.$cv-spacing-sm 0;
  &:last-child {
    margin-bottom: 0;
  }
}

.highlight {
  color: vars.$cv-color-primary;
  font-weight: 600;
}
