@use "../../styles/cv-mixins";
@use "../../styles/cv-variables";

.formationsContainer {
  margin-bottom: 30px;
}

.sectionTitle {
  @include cv-mixins.section-title-main;
}

.educationItem {
  margin-bottom: 16px;
  font-size: 12px;
}

.degree {
  font-weight: 600;
  color: cv-variables.$cv-color-text;
}

.level {
  font-style: italic;
  color: cv-variables.$cv-color-text-muted;
  font-size: 11px;
  margin-bottom: 2px;
}

.school {
  color: cv-variables.$cv-color-text-muted;
  font-size: 12px;
}
