@use "../../styles/cv-mixins";

.languagesContainer {
  margin-bottom: 30px;
}

.sectionTitle {
  @include cv-mixins.section-title-sidebar;
}

.languagesItem {
  margin-bottom: 10px;
  font-size: 13px;
}
