@use "../../styles/cv-mixins";

.linksContainer {
  margin-bottom: 20px;
}

.sectionTitle {
  @include cv-mixins.section-title-sidebar;
}

.linkItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 13px;

  a {
    text-decoration: none;
    color: inherit;
    margin-left: 6px;
  }
}

.linkIcon {
  width: 16px;
  height: 16px;
}
