@use "../../styles/cv-mixins" as mixins;
@use "../../styles/cv-variables" as vars;

.profileContainer {
  @include mixins.container-spacing;
  padding: 0 vars.$cv-spacing-md;

  .profileText {
    @include mixins.text-base;
    text-align: justify;
    margin-bottom: vars.$cv-spacing-md;

    &:last-child {
      margin-bottom: 0;
    }

    strong {
      color: vars.$cv-color-primary;
      font-weight: 600;
    }

    .highlight {
      background: vars.$cv-gradient-highlight;
      padding: 2px 6px;
      border-radius: 3px;
      font-weight: 500;
      white-space: nowrap;
    }
  }
}
