.photoContainer {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  margin-bottom: 30px;
}

.profilePhoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
